﻿
@{
    ViewBag.Title = "Dashboard";
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>Dashboard page</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    </ol>
</section>

